#top-search	{
	display: inline;
	float: right;
	position: relative;
	margin-top: -55px;
	z-index: 20;
}
	
.watchwindow {
  position: absolute;
  top: 0px;
  left: 600px;
  width: 192px;
  height: 192px;
  padding: 1px;
  z-Index: 1000;
}

#quicklinks ul {margin:15px 0 0px;padding:0;list-style:none;display:block;overflow:hidden;}
#quicklinks a {display:block;float:left;padding:10px;border:1px solid #fff;width:75px;height:68px;}
#quicklinks a:hover {text-decoration:none;background: none repeat scroll 00 #F4F8FB; border: 1px solid #E8F0F7;}
#quicklinks li {float:left;display:block;text-align:center;vertical-align: middle;}
#quicklinks li img {margin-bottom:3px;}
#quicklinks li strong {font-size:12px;font-weight:normal;}
.quicklinks-customize {position:absolute;top:10px;right:15px;}

#clockcanvas {background: transparent url(../images/clock/clock.png) no-repeat;}
div#clockcanvas_div {background: transparent url(../images/clock/clock.png) no-repeat; width:192px;height:192px;}

#gear_player{
	background: transparent url(../images/gear/InventoryUI/gear_bg.png) no-repeat;
	width: 1024px;
	height: 849px;
	}
#gear_vehicle{
	background: transparent url(../images/gear/InventoryUI/gear_bg.png) no-repeat;
	width: 1024px;
	height: 849px;
	}
.gear_preview {
	background-color: rgba(119,102,68,1);
	padding: 0;
	margin: 0;
	min-height: 47px;
	height: 47px;
	}
.gear_preview_green {
	background-color: rgba(136,153,102,1);
	border: 1px solid rgba(78,57,19,1);
	padding: 0;
	margin: 0;
	min-height: 47px;
	height: 47px;
	}
.gear_preview a {
	color: #fff;
	font-weight: bold;
	font-size: 17px;
	}
.gear_preview a:hover {
	color: #fff;
	text-decoration: underline;
	}
.preview_gear_slot {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	background-color: rgba(136,153,102,1);
}
.gear_info{
	position: absolute;
	width: 375px;
	height: 566px;
}
.gear_inventory{
	position: absolute;
	margin-top: 25px;
	margin-left: 515px;
	width: 375px;
	height: 566px;
}

.vehicle_gear{
	position: absolute;
	margin-top: 55px;
	margin-left: 520px;
	width: 375px;
	height: 566px;
}

#vehicle_inventory{
	position: absolute;
	margin-top: 48px;
	margin-left: 0px;
	width: 374px;
	height: 230px;
	overflow: auto;
}

#tents_inventory{
	position: absolute;
	margin-top: 48px;
	margin-left: 0px;
	width: 374px;
	height: 400px;
	overflow: auto;
}

.vehicle_hitpoints{
	position: absolute;
	margin-top: 325px;
	margin-left: 520px;
	width: 375px;
	height: 566px;
}

.hit_slot {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position: absolute;
	background-color: rgba(100,255,0,0.8);
}

.gear_backpack{
	position: absolute;
	margin-top: 550px;
	margin-left: 515px;
	width: 390px;
	height: 300px;
}
.backpackname{
	margin-top: 24px;
	width: 375px;
	height: 24px;
	text-align:center;
	vertical-align:middle;
	color: #FFF;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	line-height: 21px;
	font-weight: bold;
	position: absolute;
}
.gear_slot {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position: absolute;
	background-image: url(../images/gear/InventoryUI/gear_ui_grey_full.png);
}
.gear_pistol_slot {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position: absolute;
	background-image: url(../images/gear/InventoryUI/gear_ui_pistol.png);
}
.gear_pistol_slots {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position: absolute;
	background-image: url(../images/gear/InventoryUI/gear_ui_green_full.png);
}
.gear_holding_slot {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position: absolute;
	background-image: url(../images/gear/InventoryUI/gear_ui_holding.png);
}
.gear_carry_slot {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position: absolute;
	background-image: url(../images/gear/InventoryUI/gear_ui_carrying.png);
}
.gear_bag_slot {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position: absolute;
	background-image: url(../images/gear/InventoryUI/gear_ui_back.png);
}
.gear_bino1_slot {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position: absolute;
	background-image: url(../images/gear/InventoryUI/binocular_1.png);
}
.gear_bino2_slot {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position: absolute;
	background-image: url(../images/gear/InventoryUI/binocular_2.png);
}
.gear_item_slots {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position: absolute;
	background-image: url(../images/gear/InventoryUI/gear_ui_brown_full.png);
}
img.playermodel {
  	position: relative;
 	top: 120px;
  	left: 125px;
 	width: 282px;
    height: 349px;
}
img.vehiclemodel {
  	position: relative;
 	top: 120px;
  	left: 125px;
 	width: 282px;
    height: 349px;
}
#gps {
	background: transparent url(../images/gps/gps_ui.png) no-repeat;
	width: 148px;
	height: 128px;
}
.gpstext{
	text-align:center;
	vertical-align:middle;
	color: #37382a;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
	line-height: 25px;
	font-weight: bold;
	position: absolute;
}
.statstext{
	text-align:left;
	vertical-align:middle;
	color: grey;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 13px;
	font-weight: bold;
	position: absolute;
}

.icon {
	border:none;
	background-image:url(../images/icon.png);background-position:top;background-repeat:no-repeat;
	min-height:8px;
	min-width:8px;
	text-align:center;
	color:#FFF;
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
	width:8px;
	height:8px;
	z-index: 10;
	position: absolute;
}

a.info{
    position:relative; /*this is the key*/
    z-index:1;
    color:#FFF;
    text-decoration:none}

a.info:hover{z-index:2; border:0px solid #FFF;}

a.info span{display: none}

a.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
	z-index:3;
    top:1em; left:1em; width:15em;
    border:1px solid #ccc;
    background-color:#000; color:#FFF;
	padding-left: 5px;
    text-align: left}

#mapwrapper {
background-image:url(../images/chernarus.jpg);background-position:top;background-color:#000000;background-repeat:no-repeat;
width:100%;
height:100%;
margin:0;
padding:0;
position: absolute;
}
 
.top-search-inp	{
	background: url(../images/shared/top_search_inp.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 12px;
	height: 23px;
	padding: 6px 6px 0 10px;
	width: 164px;
	}
.topleft {
background: url(../images/shared/corner_top_left.jpg) no-repeat;
width:15px;
height:15px;
	
}	
.topright {
background: url(../images/shared/corner_top_right.jpg) no-repeat;
width:15px;
height:15px;
	
}	

.bottomleft {
background: url(../images/shared/corner_bottom_left.jpg)  no-repeat;
width:15px;
height:15px;
	
}	
.bottomright {
background: url(../images/shared/corner_bottom_right.jpg)  no-repeat;
width:15px;
height:15px;
	
}	

#page-heading	{
	margin: 0 0 15px 0px;
	}
	
/* MESSAGES --------------------------------------------------------------- */	
#message-yellow	{
	margin-bottom: 5px;
	}
.yellow-left	{
	background: url(../images/table/message_yellow.gif) top left no-repeat;
	color: #e79300;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.yellow-left a	{
	color: #e79300;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.yellow-right a	{
	cursor: pointer;
	}
.yellow-right	{
	width: 55px;
	}
#message-blue	{
	margin-bottom: 5px;
	}
.blue-left	{
	background: url(../images/table/message_blue.gif) top left no-repeat;
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	height: 30px;
	}
.blue-left a	{
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.blue-right a	{
	cursor: pointer;
	}
.blue-right	{
	width: 55px;
	}
#message-red	{
	margin-bottom: 5px;
	}
.red-left	{
	background: url(../images/table/message_red.gif) top left no-repeat;
	color: #ce2700;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.red-left a	{
	color: #ce2700;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.red-right a	{
	cursor: pointer;
	}
.red-right	{
	width: 55px;
	}
#message-green	{
	margin-bottom: 5px;
	}
.green-left	{
	background: url(../images/table/message_green.gif) top left no-repeat;
	color: #6da827;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 20px;
	}
.green-left a	{
	color: #6da827;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.green-right a	{
	cursor: pointer;
	}
.green-right	{
	width: 55px;
	}	

a.icon-1	{
	background: url(../images/table/table_icon_1.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-1	{
	background: url(../images/table/table_icon_1.gif) 0 -24px;
	}
a.icon-2	{
	background: url(../images/table/table_icon_2.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-2	{
	background: url(../images/table/table_icon_2.gif) 0 -24px;
	}
a.icon-3	{
	background: url(../images/table/table_icon_3.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-3	{
	background: url(../images/table/table_icon_3.gif) 0 -24px;
	}
a.icon-4	{
	background: url(../images/table/table_icon_4.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-4	{
	background: url(../images/table/table_icon_4.gif) 0 -24px;
	}
a.icon-5	{
	background: url(../images/table/table_icon_5.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
a:hover.icon-5	{
	background: url(../images/table/table_icon_5.gif) 0 -24px;
	}
#tooltip	{
	background-color: #8c8c8c;
	border: 1px solid #767676;
	color: #fff;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.85;
	padding: 0 5px;
	position: absolute;
	text-align: left;
	z-index: 3000;
	}
#tooltip h6, #tooltip div	{
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	margin: 0;
	}
#product-table	{
	margin-bottom: 20px;
	}
#product-table	td a	{
	color: #FFF;
	font-weight: bold;
	font-size: 16px;	
	}
#product-table	td a:hover	{
	text-decoration: underline;
	}
#product-table	th	{
	height: 50px;
	text-align: left;
	}
#product-table	.minwidth-1	{
	min-width: 110px;
	}
#product-table td	{
	border: 1px solid rgba(78, 57, 19, 0.8);
	padding: 0px 0 0px 0px;
	}
#product-table tr.alternate-row	{
	background: #ececec;
	}
td.options-width	{
	padding: 0 0 0 10px;
	width: 210px;
	}
td.checkbox-width	{
	}
.table-header-check	{
	background: url(../images/table/table_header_checkbox.jpg) no-repeat;
	border: none;
	min-width: 29px;
	padding: 0px 0 0 10px;
	width: 29px;
	}
.table-header-options	{
	background: url(../images/table/table_header_options.jpg) no-repeat;
	border: none;
	min-width: 221px;
	padding: 0px 0 0 0;
	width: 221px;
	}
.table-header-repeat	{
	background: url(../images/table/table_header_repeat.jpg) repeat-x;
	border: none;
	font-size: 0px;
	line-height: 0;
	padding: 0px 0 0 0;
	}
.table-header-options a,
 .table-header-repeat a	{
	background: url(../images/table/table_sort_arrow.gif) right no-repeat;
	color: #fff;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
	}
	
	.table-header-options a:hover,
 .table-header-repeat a:hover	{
	
	color:#94b52c
	}
	
th.line-left	{
	border-left: 1px solid #373737;
	}
#product-table	tr.activity-blue	{
	background: #e3eceb;
	}
	
	#toggle-all {
		display: block;
		width: 17px;
		height:17px;
		cursor: pointer;
		background: url(../images/shared/checkbox.gif) 0 -17px;
	}
	
		#toggle-all.toggle-checked {
		display: block;
		width: 17px;
		height:17px;
		background: url(../images/shared/checkbox.gif) 0 0;
	}
	
/*  RELATED ACTIVIES BOX */	

#related-activities	{
	float: right;
	font-size: 0px;
	line-height: 0;
	width: 271px;
	}
#related-act-top	{
	font-size: 0px;
	line-height: 0;
	}
#related-act-bottom	{
	background: url(../images/forms/bg_related_act.gif) no-repeat bottom;
	font-size: 0px;
	line-height: 0;
	}
#related-act-inner	{
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 225px;
	}
#related-act-inner .left	{
	float: left;
	width: 30px;
	}
#related-act-inner .right	{
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
	}
#related-act-inner .right h5	{
	color: #393939;
	font-size: 12px;
	}
ul.greyarrow	{
	list-style-type: none;
	}
ul.greyarrow li	{
	background: url(../images/forms/icon_list_arrow.gif) no-repeat 0 5px;
	line-height: 18px;
	padding: 0 0 0 12px;
	}
ul.greyarrow li a	{
	color: #92b22c;
	font-weight: bold;
	}
ul.greyarrow li a:hover	{
	text-decoration: underline;
	}
.lines-dotted-short	{
	background: url(../images/forms/lines_dotted_short.gif) no-repeat 0px 14px;
	font-size: 0px;
	height: 28px;
	line-height: 0;
	}
	
/* PAGING --------------------------------------------------------- */	

#paging-table {
	float: right;
	margin: 0 4px 0 0;
}	
.page-far-left	{
	background: url(../images/table/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 0;
	width: 24px;
	}
.page-left	{
	background: url(../images/table/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
.page-far-right	{
	background: url(../images/table/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 4px;
	width: 24px;
	}
.page-right	{
	background: url(../images/table/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
#page-info	{
	float: left;
	line-height: 16px;
	padding: 3px 12px 0 12px;
	}
	
/*  ACTIONS BOX ----------------------------------------------- */	
#actions-box	{
	float: left;
	margin: 0 0 0 10px;
	position: relative;
	}
a.action-slider	{
	background: url(../images/table/dropdown_actions.gif) no-repeat;
	display: block;
	height: 30px;
	width: 110px;
	}
a.action-slider.activated	{
	background: url(../images/table/dropdown_actions.gif) no-repeat 0 -30px;
	display: block;
	height: 30px;
	width: 110px;
	}
#actions-box-slider	{
	background: url(../images/table/actions_slider_bg.gif) bottom no-repeat;
	display: none;
	left: 0;
	padding-bottom: 1px;
	padding-top: 10px;
	position: absolute;
	top: 24px;
	width: 110px;
	}
#actions-box-slider-inner	{
	font-size: 0px;
	line-height: 0;
	margin: 0 auto;
	width: 108px;
	}
a.action-edit ,
a.action-delete	{
	color: #272727;
	display: block;
	font-weight: bold;
	height: 20px;
	margin: 0 auto;
	padding: 10px 0 5px 45px;
	width: 63px;
	}
a:hover.action-edit	{
	background: #949494 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	color: #fff;
	}
a.action-edit	{
	background: #c7c7c7 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	}
a.action-delete	{
	background: #c7c7c7 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	}
a:hover.action-delete	{
	background: #949494 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	color: #fff;
	}
		 
	
/* FORM ------------------------------------------------------- */	
.form-submit	{
	background: url(../images/forms/form_submit.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	margin: 0 4px 0 0;
	padding: 0;
	text-indent: -3000px;
	width: 80px;
	}
.form-reset	{
	background: url(../images/forms/form_reset.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	text-indent: -3000px;
	width: 80px;
	}
#id-form	{
	}
.inp-form	{
	background: url(../images/forms/form_inp.gif) no-repeat;
	border: none;
	color: #393939;
	height: 25px;
 
	padding: 6px 6px 0 6px;
	width: 186px;
	}
	
.inp-form-error	{
	background: url(../images/forms/form_inp_error.gif) no-repeat;
	border: none; 
	color: #393939;
	height: 25px;
	padding: 6px 6px 0 6px;
	width: 187px;
	}
.form-textarea	{
	background: url(../images/forms/form_textarea.gif) no-repeat;
	border: none;
	color: #393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 97px;
	overflow: auto;
	padding: 6px 6px 0 6px;
	width: 378px;
	}
#id-form td	{
	padding: 0 0 10px 0;
	}
#id-form td.noheight	{
	padding: 0 0 0px 0;
	}
#id-form th	{
	line-height: 28px;
	min-width: 130px;
	padding: 0 0 10px 0;
	text-align: left;
	width: 130px;
	}
.styledselect-day ,
.styledselect-month ,
.styledselect-year	{
	border: 1px solid #acacac;
	margin-right: 3px;
	padding: 3px;
	width: 64px;
	}
	
	
#step-holder {
font-family: Tahoma;
	height:39px;
	margin-bottom: 20px;
}	

.step-no {
	float:left;
	height:29px;
	width:29px;
	font-size: 18px;
	line-height: 18px;
	padding:5px 0 0 0;
	text-align: center;
}

.step-no-off {
	float:left;
	height:29px;
	width:29px;
	font-size: 18px;
	line-height: 18px;
	padding:5px 0 0 0;
	text-align: center;
	color:#cbcbcb;
}

.step-dark-left {
	float:left;
	 
	background: url(../images/forms/step_dark_left.gif) no-repeat;
	height:27px;
	padding:12px 15px 0 25px;
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-left a{
	 
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-right {
	float:left;
	width:12px;
	background: url(../images/forms/step_dark_right.gif) no-repeat;
	height:39px;
}
.step-dark-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/forms/step_dark_round.gif) no-repeat;
}

.step-light-left {
	float:left;
	height:27px;
	padding:12px 15px 0 25px;
	font-size: 13px;
	background: url(../images/forms/step_light_left.gif) no-repeat;
	height:39px;
	color:#cbcbcb;
	font-weight: bold;
}

.step-light-left a{
	 
	 
	font-size: 13px;
 
	color:#cbcbcb;
	font-weight: bold;
}
.step-light-right {
	float:left;
	width:12px;
	background: url(../images/forms/step_light_right.gif) no-repeat;
	height:39px;
}
.step-light-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/forms/step_light_round.gif) no-repeat;
}

.bubble-left {
	float:left;
	width:10px;
	height:29px;
	margin-left: 5px;
	background: url(../images/forms/bubble_left.gif) no-repeat;
}

.bubble-inner {
	float:left;
	padding: 7px 0px 0 2px;
	color:#2e74b2; 
	line-height: 14px;
	font-size: 11px;
	height:22px;
	background: url(../images/forms/bubble_inner.gif) repeat-x;
}
.bubble-right {
	float:left;
	width:8px;
	height:29px;
	background: url(../images/forms/bubble_right.gif) right no-repeat;
}
.error-left {
	float:left;
	width:13px;
	height:32px;
	margin-left: 5px;
	background: url(../images/forms/error_left.gif) no-repeat;
}

.error-inner {
	float:left;
	padding: 7px 10px 0 4px;
	color:#fff; 
	line-height: 14px;
	height:25px;
	background: url(../images/forms/error_right.gif) right  no-repeat;
}
.file_1 {
	border: 1px solid #acacac;
	padding: 5px;
}	

/* ================================================================ 
This copyright notice must be untouched at all times. The original version of this stylesheet and the associated (x)html is available at http://www.cssplay.co.uk/menus/pro_dropline.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved. This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
=================================================================== */

/* GENERAL --------------------------------------------------------*/ 
 table	{
	border-collapse: collapse;
	}
.fr	{
	float: right;
	}
.clear	{
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
img	{
	border: 0;
	}
p	{
	margin: 0px;
	padding: 0px;
	}
form	{
	margin: 0;
	padding: 0;
	}
.line	{
	border-top: 1px solid #dcdada;
	font-size: 0px;
	height: 1px;
	line-height: 0px;
	margin: 20px 0;
	padding: 0;
	}
.font11	{
	font-size: 11px;
	}

/*  STYLED SELECTBOXES style 1 --------------------------------- */	

.styledselect {
background: #2a2a2a;
border: 1px solid #424242;
	color:#fff;
	width:120px;
	padding: 5px;
	line-height: 14px;
	margin-right: 6px;
	font-size: 12px;
}

div.selectbox-wrapper	{
	background-color: #2a2a2a;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	z-index: 10;
	}
div.selectbox-wrapper ul	{
	list-style-type: none;
	 
	margin: 0px;
	padding: 0px;z-index: 10;
	}
div.selectbox-wrapper ul li.selected	{
	background-color: 575757;
	color: #fff;
	}
div.selectbox-wrapper ul li.current	{
	background-color: #575757;
	}
div.selectbox-wrapper ul li	{
	border-bottom: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.selectbox_styled	{
	background: url(../images/shared/top_search_select.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0 0 6px;
	text-align: left;
	width: 105px;
	z-index: 10;
	}

/*  STYLED SELECTBOXES style 2 --------------------------------- */	
div.selectbox-wrapper2	{
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	}
div.selectbox-wrapper2 ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.selectbox-wrapper2 ul li.selected2	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li.current2	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li	{
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.styledselect_form_1	{
	background: url(../images/forms/form_select.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 0 6px;
	text-align: left;
	width: 192px;
	}
.styledselect_form_2	{
	background: url(../images/forms/form_select_small.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 0 10px;
	text-align: left;
	width: 60px;
	}
	
/*  STYLED SELECTBOXES style 3 --------------------------------- */	
div.selectbox-wrapper3	{
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	}
div.selectbox-wrapper3 ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.selectbox-wrapper2 ul li.selected3	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li.current3	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper3 ul li	{
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.styledselect_pages	{
	background: url(../images/table/select_number_rows.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 20px;
	line-height: 16px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0 0 6px;
	text-align: left;
	width: 130px;
	}
	
/* STYLED CHECKBOXES AND RADIOS -------------------------------------------- */	
.ui-radio-state-disabled,
.ui-radio-state-checked-disabled,
.ui-radio-state-disabled-hover,
.ui-radio-state-checked-disabled-hover	{
	color: #999;
	}
span.ui-checkbox,
			span.ui-radio	{
	background: url(../images/shared/checkbox.gif) 0 -17px no-repeat;
	display: block;
	float: left;
	height: 17px;
	width: 17px;
	}
span.ui-helper-hidden	{
	display: none;
	}
label	{
	padding: 2px;
	}
span.ui-radio-state-hover,
			span.ui-checkbox-state-hover	{
	background-position: 0 0px;
	}
span.ui-checkbox-state-checked	{
	background-position: 0 0px;
	}
span.ui-checkbox-state-checked-hover	{
	background-position: 0 0px;
	}
span.ui-radio-state-checked-disabled-hover,
			span.ui-radio-state-checked-disabled,
			span.ui-radio-state-checked	{
	background-position: 0 -161px;
	}
span.ui-radio-state-checked-hover	{
	background-position: 0 -17px;
	}
label	{
	color: red;
	line-height: 20px;
	}
.ui-helper-hidden-accessible	{
	left: -999em;
	position: absolute;
	}

/* Survivor page misc */
#table-content-extra {
}

#table-content-extra-left {
    float: left;
    width: 500px;
    margin-top: 20px;
}

#table-content-extra-right {
    float: left;
    width: 500px;
    margin-left: 10px;
}

#medical {
	width: 500px;
}

#playeractions {
	width: 500px;
}

#namechanges {
    width: 500px;
}

#table-content-extra-clear {
    clear: both;
}

#inventoryString  textarea{
	width: 580px;
	height: 125px;
}

/* TODO */
#vehicleString {
	margin-left: 550px;
	margin-top: -125px;
}

#deployableString {
	margin-left: 600px;
	margin-top: -325px;
}

#vehicleString  textarea{
	width: 580px;
	height: 125px;
}

/* VIP page misc */
#vipString {

}

#vipString  textarea{
	width: 600px;
	height: 125px;
}

/* NEW */
.stats-bg {
	background-color: #1d1d1d;
	background-image: url(images/bg.jpg);
	background-image: url('../images/bg.png');
}

#logo-stats-bg {
	background-color: #1d1d1d;
	width: 100%;
	height: 100px;
}

#logo-stats-centerer {
	margin: 0 auto;
	width: 1170px;
}

#logo-stats-left {
}

#logo-stats-right {
	float: right;
	margin-top: -80px;
}

.navbar-custom {
	margin-top: -20px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

.navbar-middle {
	margin: 0 auto;
	width: 1170px;
}

.custom-container{
	margin-top: -21px;
	background-color: #1b1b1b;
	border: 1px solid #050505; 
	color: grey;
}

.custom-container-popup{
	margin: 0 auto;
	width: 300px;
	color: grey;
}

.custom-th-popup {
	margin-top: 50px;
}

.content {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	color: grey;
}

#content {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	color: grey;
}

#content-table {
	width: 1155px;
	background-color: #1b1b1b;
}

.gametracker{
	margin: 0 auto;
	width: 560px;
}

.stats-box {
	margin: 0 auto;
	width: 560px;
	background-color: #202020;
	border: 1px solid #000;
	color: grey;
	padding-bottom: 10px;
}

.stats-box-inner{
	margin: 0 auto;
	width: 300px;
}

.stats-search{
	padding-top: 10px;
	margin: 0 auto;
	width: 275px;
}

.social-box {
	width: 500px;
	margin: 0 auto;
}

.login-box {
	margin: 0 auto;
	width: 560px;
	background-color: #202020;
	border: 1px solid #000;
	color: grey;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.login-box-inner{
	margin: 0 auto;
	width: 300px;
}


.footer{
	background-color: #1b1b1b;
	border: 1px solid #050505; 
	color: grey;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
	min-height: 40px;
}

.footer-left{
	margin-left: 10px;
}

/* MULTI-LEVEL DROPDOWNS FOR BOOTSTRAP */
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover > .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.custom-th{
	background-color: #202020;
	color: #fff;
}

.custom-tr {
	color: grey;
}

.custom-h1 {
	color: #fff;
}
.custom-h3 {
	color: #fff;
}
.custom-h2 {
	color: #fff;
}
.custom-h2-map {
	color: #fff;
	font-size: 19px;
}
.custom-h2-string {
	color: #fff;
	font-size: 19px;
}
.table td {
	border-bottom: 1px solid #000;
}
.table thead {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.table tbody{
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
